{{- $defaultConfig := .Site.Data.config.default.widgets.about -}}
{{- $configData := ( or .Site.Data.config.widgets.about $defaultConfig ) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

<section class='widget widget-about sep-after'>
  <header>
    {{ with $config.logo }}
    <div class='logo'>
      <a href='{{ $.Site.Home.RelPermalink }}'>
        <img src='{{ . | relURL }}'>
      </a>
    </div>
    {{ end }}
    
  </header>

</section>
